html,
body {
    height: 100%;
    background-color: black;
}

html {
    display: table;
    width: 100%;
}

body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

* {
    font-family: 'VT323', monospace
}

h2 {
    color: red;
}

#hsDiv {
    position: absolute;
    margin-left: 30%;
    margin-top: 8px;
}